@page "/getRepeaters"

@using K2GXT_Directory_2.Data
@using System.Linq.Dynamic.Core

@inject RepeaterDirectoryService RepeaterService


<h1>Repeater Directory</h1>


@if (repeaters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>
                <span @onclick="@(async () => await sortAsync("CallSign"))"><img width="12" src="@imageSortName"/>Callsign
                </span> </th>
            <th>
                <span @onclick="@(async () => await sortAsync("RxFreq"))"><img width="12" src="@imageSortName"/>Rx Freq
                </span> </th>
            <th>
                <span @onclick="@(async () => await sortAsync("TxFreq"))">
                    <img width="12" src="@imageSortName"/>
                    Tx Freq
                </span> </th>


            <th>
                <span @onclick="@(async () => await sortAsync("CTCSS"))">
                    <img width="12" src="@imageSortName"/>
                    CTCSS
                </span> </th>
            <th>
                <span @onclick="@(async () => await sortAsync("County"))">
                    <img width="12" src="@imageSortName"/>
                    County
                </span> </th>
            <th>
                <span @onclick="@(async () => await sortAsync("Location"))">
                    <img width="12" src="@imageSortName"/>
                    Location
                </span> </th>

        </tr>
        </thead>
        <tbody>
            @foreach (var repeater in repeaters)
            {
                <tr>      
                    <td><a href="/editRepeater/@repeater._id"> <img width="12" src="@imageEditName"/></a></td>
                    <td><a href="/repeaterDetails/@repeater._id">@repeater.CallSign</a></td>
                    <td>@repeater.RxFreq</td>
                    <td>@repeater.TxFreq</td>
             

                    <td>@repeater.CTCSS</td>
                    <td>@repeater.County</td>
                    <td>@repeater.Location</td>
              
                                     
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Repeater[] repeaters;
    private string currentSort;
    private string currentOrder;
    private string imageSortName;
    private string imageEditName;

    protected override async Task OnInitializedAsync()
    {
        currentSort = "RFreq";
        currentOrder = "asc";
        imageSortName = "images/sort-asc.png";
        imageEditName = "images/edit.png";
        repeaters = await RepeaterService.GetRepeaterListAsync();
    }

    private async Task sortAsync(string sortData)
    {
        if (currentSort == sortData)
        {
            currentOrder = currentOrder == "asc" ? "desc" : "asc";
            imageSortName = "images/sort-" + currentOrder + ".png";
        }
        currentSort = sortData;
        repeaters = repeaters.AsQueryable().OrderBy(sortData + " "+ currentOrder).ToArray();

    }

}

